<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="HistoricalDBConnection" connectionString="data source=&quot;C:\Users\dkoncic\documents\visual studio 2012\Projects\HMonitor\WebSite\App_Data\HistoricalDB.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.3.5" />-->
    <!--<add name="HistoricalDBConnection" connectionString="metadata=res://*/Data.HistoricalDBModel.csdl|res://*/Data.HistoricalDBModel.ssdl|res://*/Data.HistoricalDBModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\HistoricalDB.sdf&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="HistoricalDBConnection" connectionString="data source=&quot;C:\Users\dkoncic\documents\visual studio 2012\Projects\HMonitor\WebSite\App_Data\HistoricalDB.sdf&quot;" providerName="System.Data.SqlServerCe.4.0" />-->
    
    
    <!-- ZA OPENACCESS I SQL Ce 4.0-->
    <add name="HistoricalDBConnection" connectionString="metadata=res://*/Data.HistoricalDBModel.csdl|res://*/Data.HistoricalDBModel.ssdl|res://*/Data.HistoricalDBModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\HistoricalDB.sdf&quot;" providerName="System.Data.SqlServerCe.4.0"/>
    
  </connectionStrings>
</configuration>